<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Follow me on:</p>
<p>
<%= link_to image_tag("ic_fbk_36.png", :alt => "Facebook"), 'https://www.facebook.com/bousquet.pi' %>
<%= link_to image_tag("ic_lkdin_36.png", :alt => "LinkedIn"), 'http://www.linkedin.com/pub/pierre-bousquet/21/326/307' %>
<%= link_to image_tag("ic_twit_36.png", :alt => "Twitter"), 'https://twitter.com/Pierre_33' %>
</p>